@use "../util" as *;

.main {
    

    @include breakpoint(large) {
        display: grid;
        grid-template-areas: 
        "one one img img"
        "two two img img"
        "two two img img"
        "tre tre img img";
    }

    &__header {
        margin: rem(25) 0 rem(20) rem(25);

        img {
            max-width: 100%;
            height: auto;

        }

        

        @include breakpoint(large) {
            grid-area: one;
            margin: rem(40) 0 rem(60) rem(125);
            
            img {
                width: 160px;
                height: 40px;
            }
        }
    }
    

    &__image {
        padding: rem(5) 0 rem(10) 0;
        margin: rem(10) 0 rem(10) 0;
        font-size: 0;

        img {
            max-width: 100%;
            height: auto;
        }

        @include breakpoint(large) {
            grid-area: img;
            padding: 0;
            margin: 0;
        }
    }

    &__left {
        @include breakpoint(large) {
            padding: rem(20);
            margin-left: rem(100);
            grid-area: two;
        }
    }

    &__heading {
        text-align: center;
        letter-spacing: rem(10);

        @include breakpoint(large) {
            text-align: start;
        }


        .first {
            font-weight: 300;
            font-size: rem(45);
            text-transform: uppercase;
            color: var(--desaturatedRed);

            @include breakpoint(large) {
                text-align: start;

            }
        }

        .second {
            text-align: center;
            text-transform: uppercase;
            color: var(--darkGrayishRed);

            @include breakpoint(large) {
                text-align: start;
                padding-bottom: rem(25);
            }
        }
    }

    &__para {
        text-align: center;
        padding: rem(10) rem(20) rem(15) rem(20);
       
        p {
            font-weight: 400;
            line-height: 1.6;
        }
        
        @include breakpoint(large) {
            text-align: left;
            margin-right: rem(202);
            padding: 0 rem(100) 0 0;
            width: 60ch;
        }
    }

    &__email{
        
        @include breakpoint(large) {
            margin-top: rem(100);
        }

        form {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--desaturatedRed);
        border-radius: rem(25);
        margin: rem(10);
        transition: border 0.2s ease;
        

        @include breakpoint(large) {
            width: rem(435);
            margin: 0 0 0 rem(-5);
        }
        
        input[type=email] {
            border: none;
            flex-grow: 1;
            background: none;
            padding: rem(10);
            font-size: rem(16);

            &::placeholder {
                color: var(--desaturatedRed);
                opacity: 0.8;
                padding: rem(10);
                font-size: rem(15);
            }

            &:focus {
                outline: none;
            }
        }

        #icon-error {
           margin-top: rem(7);
           margin-right: rem(10);
           display: none;
           transition: display 0.3s ease-in;


            img {
                max-width: 100%;
            }
        }

        button {
            background: linear-gradient(135deg, var(--linearGradient-1) 0%, var(--linearGradient-2) 0%, var(--linearGradient-3) 15%, var(--linearGradient-4) 35%);
            font-size: rem(17);
            border: none;
            width: rem(70);
            height: rem(48);
            border-radius: rem(25);
            cursor: pointer;
            padding: rem(10);
            margin: rem(-2);
            box-shadow: 0px 8px 8px 1px var(--linearGradient-3);
            transition: all 0.3s ease-in;

            @include breakpoint(large) {
                width: rem(90);
               
            }

            &:hover {
                background: linear-gradient(135deg, var(--linearGradient-1) 0%, var(--linearGradient-2) 0%, var(--linearGradient-3) 20%, var(--linearGradient-4) 100%);
                box-shadow: 0px 11px 11px 4px var(--linearGradient-3);
            }
        }



    }

    #text-error {
        display: none;
        color: var(--softRed);
        margin: rem(15);
        transition: display 0.3s ease-in;
        transition: color 0.2s ease-in-out;
      }
    }
}

