@use "../util" as *;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    @include breakpoint(large) {
        display: grid;
        grid-template-areas: 
        "one one img img"
        "two two img img"
        "two two img img"
        "tre tre img img";
    }

    &__header {
        padding-top: rem(12);
        padding-left: rem(10);
        

        img {
            max-width: 100%;
            padding: rem(10);
            height: auto;
        }

        

        @include breakpoint(large) {
            grid-area: one;
            margin-left: rem(120);
            margin-top: rem(20);
            img {
                width: rem(140);
                height: rem(50);
            }
        }
    }
    

    &__image {
        padding: rem(5) 0 rem(10) 0;
        margin: rem(10) 0 rem(10) 0;
        img {
            max-width: 100%;
            height: auto;
        }

        @include breakpoint(large) {
            grid-area: img;
        }
    }

    &__left {
        @include breakpoint(large) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: rem(20);
            margin-left: rem(100);
            grid-area: two;
        }
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;

        @include breakpoint(large) {
            text-align: left;
            padding: rem(20);
            
        }


        .first {
            font-weight: 300;
            font-size: rem(45);
            text-transform: uppercase;
            color: var(--desaturatedRed);

            @include breakpoint(large) {
                font-size: rem(50);
            }
        }

        .second {
            text-align: center;
            text-transform: uppercase;
            color: var(--darkGrayishRed);

            @include breakpoint(large) {
                text-align: left;
                padding-bottom: rem(20);
            }
        }
    }

    &__para {
        text-align: center;
        padding: rem(10) rem(20) rem(15) rem(20);
        
        @include breakpoint(large) {
            margin-right: rem(100);
            text-align: left;
            padding-right: rem(100);
            
        }
    }

    &__email{
        
        @include breakpoint(large) {
            padding: rem(20);
        }

        form {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--desaturatedRed);
        border-radius: rem(25);
        margin: rem(10);
        

        @include breakpoint(large) {
            width: rem(435);
        }
        
        input[type=email] {
            border: none;
            flex-grow: 1;
            background: none;
            padding: rem(10);
            font-size: rem(16);

            &::placeholder {
                color: var(--desaturatedRed);
                opacity: 0.8;
                padding: rem(10);
                font-size: rem(15);
            }

            &:focus {
                outline: none;
            }
        }

        #icon-error {
           margin-top: rem(7);
           margin-right: rem(10);
           display: none;

            img {
                max-width: 100%;
            }
        }

        button {
            background: linear-gradient(135deg, var(--linearGradient-1) 0%, var(--linearGradient-2) 0%, var(--linearGradient-3) 15%, var(--linearGradient-4) 35%);
            font-size: rem(17);
            border: none;
            width: rem(70);
            height: rem(48);
            border-radius: rem(25);
            cursor: pointer;
            padding: rem(10);
            margin: rem(-1);

            @include breakpoint(large) {
                width: rem(90);
               
            }

            &:hover {
                background: linear-gradient(135deg, var(--linearGradient-1) 0%, var(--linearGradient-2) 0%, var(--linearGradient-3) 20%, var(--linearGradient-4) 100%);
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.57);
                transition: 0.1s ease;
            }
        }



    }

    #text-error {
        color: var(--softRed);
        margin: rem(15);
      }
    }

    &__attribution {
        grid-area: tre;
        padding: rem(20);
        font-size: rem(16);
    }

}

